.Footer-bottom{
     background: #1a1a1b;
     color: white;
     padding: 140px 0 40px 0;
     margin-top: 50px;
}

.copyText{
     color: #535353;
     margin-top: 200px;
}
.bottom-privacy{
     margin-top: 178px;
     
}